<ion-tabs>

  <!-- <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab> -->
  <ion-tab tab="contact">
      <ion-router-outlet name="contact"></ion-router-outlet>
    </ion-tab>
  <ion-tab tab="about">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>


  <ion-tab-bar slot="bottom">

    <!-- <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon ios="ios-list" md="md-list"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="contact" href="/tabs/(contact:contact)">
      <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about" href="/tabs/(about:about)">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
      <ion-label>Registrar</ion-label>
    </ion-tab-button>



  </ion-tab-bar>

</ion-tabs>
