

.colImg{

       
    
}
.imagen{
    height: 80px;
    width: 80px;
    background: white;
}
.Detalle{

}
.indice{    
    background: rgb(8, 112, 172);
    color: white;
    font-size: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 3px;     
}
.Marca{
    font-size: 15px;
    color: black;
}
.Modelo{
    font-size: 12px;
}
.Tipo{
    font-size: 10px;
    color: black;
}
.Tipo1{
    font-size: 10px;
    color: rgb(8, 20, 131);
}
.Tipo2{
    font-size: 10px;
    color: rgb(124, 4, 4);
}